body {
    background-color: rgb(16, 16, 24);
}
p {
    color: rgb(255, 255, 255);
}
h1 {
    color:rgb(255, 255, 255);
}
h2 {
    color:rgb(255, 255, 255);
}
h3 {
    color:rgb(255, 255, 255);
}


a:link    {
    color:rgb(0, 255, 0);
    text-decoration: none;
}
a:visited {
    color:rgb(0, 255, 0);
    text-decoration: none;
}
a:hover   {
    color:rgb(191, 127, 0);
    text-decoration: underline;
}
a:focus   {
    color:rgb(191, 127, 0);
    text-decoration: underline;
}
a:active  {
    color:rgb(191, 127, 0);
    text-decoration: underline;
}
